@use "sass:map";

$variants: (
	primary: (
		bg: var(--button-primary-background),
		bg-hov: var(--button-primary-background-hover),
		bg-act: var(--button-primary-background-active),
	),
	ghost: (
		bg: var(--button-ghost-background),
		bg-hov: var(--button-ghost-background-hover),
		bg-act: var(--button-ghost-background-active),
	),
	danger: (
		bg: var(--button-danger-background),
		bg-hov: var(--button-danger-background-hover),
		bg-act: var(--button-danger-background-active),
	),
);

$sizes: (
	sm: (
		padding: 0.75rem 1rem,
		border-radius: 0.75rem,
		font-size: 1rem,
	),
	md: (
		padding: 0.75rem 1rem,
		border-radius: 0.75rem,
		font-size: 1rem,
	),
	lg: (
		padding: 0.75rem 1rem,
		border-radius: 0.75rem,
		font-size: 1rem,
	),
);

.btn {
	cursor: pointer;
	transition: background-color 0.2s;
	color: var(--button-text);

	&:disabled {
		color: var(--button-text-disabled);
	}

	@each $name, $values in $variants {
		&--#{$name} {
			background: map.get($values, bg);
		}

		&--#{$name}:is(:hover, :focus-visible) {
			background: map.get($values, bg-hov);
		}

		&--#{$name}:active {
			background: map.get($values, bg-act);
		}
	}

	@each $name, $values in $sizes {
		&--#{$name} {
			padding: map.get($values, padding);
			border-radius: map.get($values, border-radius);
			font-size: map.get($values, font-size);
		}
	}
}
