DATABASE_URL="postgresql://dev:dev@localhost:5432/42eat"

JWT_SECRET=
JWT_REFRESH_SECRET=

NODE_ENV=dev/prod

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

BASE_URL=http://localhost:3001
BASE_FRONT_URL=http://localhost:5173
