.neon-logo {
	stroke-linejoin: round;

	.neon-halo {
		stroke-width: 0.7px;
		stroke: var(--logo-neon-halo);
		filter: url(#neon-diffused);
		will-change: filter;
	}
	.neon-center {
		stroke-width: 0.25px;
		stroke: var(--logo-neon);
	}
}
