#app-page {
	height: 100%;
	display: flex;

	& #app-page-nav {
		height: 100%;
		width: 265px;
		min-width: 160px;
		padding: .5rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		background-color: var(--background-surface);
		border-right: solid 1px var(--background-overlay);

		& > hr {
			border: none;
			height: 1px;
			background-color: var(--background-overlay);
		}
	}

	& #app-page-content {
		height: 100%;
		flex: 1;
	}
}
