#request-password-reset {
	& > h2 {
		text-align: center;
		margin: 0;
	}

	& > .description {
		text-align: center;
		color: var(--text-secondary);
	}

	& .inputs {
		display: flex;
		gap: 1rem;

		& button {
			align-self: flex-start;
		}
	}

	& > .invalid-message {
		margin: 0;
		text-align: center;
		color: var(--text-danger);
	}

	& > .success-message {
		margin: 0;
		text-align: center;
		color: var(--text-valid);
		color: transparent;
		background-clip: text;
	}
}
