#reset-password {
	& > h2 {
		margin: 0;
	}

	& .reset-password-form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;

		& .inputs {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		& > button {
			width: 100%;
		}

	}
}
