.ft-login-button {
	background-color: black;
	color: white;

	& svg path {
		fill: white;
	}

	& .btn-content {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
	}


	&:disabled {
		background-color: #03030350;
		pointer-events: none;
	}
}

html[data-theme="dark"] {
	.ft-login-button:is(:hover, :focus-visible) {
		background-color: #1A1A1A;
	}
}

html[data-theme="light"] {
	.ft-login-button:is(:hover, :focus-visible) {
		background-color: #1D1D1D;
	}
}
