
:root {
	--red-50: #f6f6f6ff;
	--red-100: #ffd7d2ff;
	--red-200: #f69f98ff;
	--red-300: #eb736cff;
	--red-400: #e82431ff;
	--red-500: #ab2126ff;
	--red-600: #712b29ff;
	--red-700: #4e1d1bff;
	--red-800: #321614ff;
	--red-900: #200c0aff;
	--red-950: #160404ff;
	--pink-50: #fbf4f6ff;
	--pink-100: #fdd5e1ff;
	--pink-200: #f29dbaff;
	--pink-300: #f1639cff;
	--pink-400: #e2137fff;
	--pink-500: #ab075eff;
	--pink-600: #712645ff;
	--pink-700: #4e1a2fff;
	--pink-800: #35111fff;
	--pink-900: #210a13ff;
	--pink-950: #17030aff;
	--neutral-0: #ffffffff;
	--neutral-50: #f6f6f6ff;
	--neutral-100: #e1e1e1ff;
	--neutral-200: #bababaff;
	--neutral-300: #9c9c9cff;
	--neutral-400: #808080ff;
	--neutral-500: #5e5e5eff;
	--neutral-600: #454545ff;
	--neutral-700: #2f2f2fff;
	--neutral-800: #1f1f1fff;
	--neutral-900: #131313ff;
	--neutral-950: #0a0a0aff;
	--neutral-1000: #000000ff;
}
