:root {
	--red-50: #f6f6f6;
	--red-100: #ffd7d2;
	--red-200: #f69f98;
	--red-300: #eb736c;
	--red-400: #e82431;
	--red-500: #ab2126;
	--red-600: #7e201d;
	--red-700: #571613;
	--red-800: #321614;
	--red-900: #200c0a;
	--red-950: #160404;
	--pink-50: #fbf4f6;
	--pink-100: #fdd5e1;
	--pink-200: #f29dba;
	--pink-300: #f1639c;
	--pink-400: #e2137f;
	--pink-500: #ab075e;
	--pink-600: #712645;
	--pink-700: #4e1a2f;
	--pink-800: #35111f;
	--pink-900: #210a13;
	--pink-950: #17030a;
	--green-50: #edffefff;
	--green-100: #a7ffb3ff;
	--green-200: #00ef55ff;
	--green-300: #00cf49ff;
	--green-400: #00b13dff;
	--green-500: #009030ff;
	--green-600: #007325ff;
	--green-700: #005619ff;
	--green-800: #003c0fff;
	--green-900: #002406ff;
	--green-950: #001803ff;
	--orange-50: #fdf7f0ff;
	--orange-100: #f9e0c5ff;
	--orange-200: #f4c694ff;
	--orange-300: #eead5fff;
	--orange-400: #e48c00ff;
	--orange-500: #bc7200ff;
	--orange-600: #a26200ff;
	--orange-700: #794b07ff;
	--orange-800: #3a2200ff;
	--orange-900: #281700ff;
	--orange-950: #170c00ff;
	--blue-50: #f2f7ffff;
	--blue-100: #d1e3ffff;
	--blue-200: #95bbfaff;
	--blue-300: #649bf8ff;
	--blue-400: #3179f2ff;
	--blue-500: #1557c1ff;
	--blue-600: #21437dff;
	--blue-700: #172e54ff;
	--blue-800: #081d42ff;
	--blue-900: #02112fff;
	--blue-950: #000822ff;
	--neutral-0: #ffffff;
	--neutral-50: #f6f6f6;
	--neutral-100: #e1e1e1;
	--neutral-200: #bababa;
	--neutral-300: #9c9c9c;
	--neutral-400: #808080;
	--neutral-500: #5e5e5e;
	--neutral-600: #454545;
	--neutral-700: #2f2f2f;
	--neutral-800: #1f1f1f;
	--neutral-900: #131313;
	--neutral-950: #0a0a0a;
	--neutral-1000: #000000;
}
