
:root {
	--red-50: #f6f6f6;
	--red-100: #ffd7d2;
	--red-200: #f69f98;
	--red-300: #eb736c;
	--red-400: #e82431;
	--red-500: #ab2126;
	--red-600: #7E201D;
	--red-700: #571613;
	--red-800: #321614;
	--red-900: #200c0a;
	--red-950: #160404;
	--pink-50: #fbf4f6;
	--pink-100: #fdd5e1;
	--pink-200: #f29dba;
	--pink-300: #f1639c;
	--pink-400: #e2137f;
	--pink-500: #ab075e;
	--pink-600: #712645;
	--pink-700: #4e1a2f;
	--pink-800: #35111f;
	--pink-900: #210a13;
	--pink-950: #17030a;
	--neutral-0: #ffffff;
	--neutral-50: #f6f6f6;
	--neutral-100: #e1e1e1;
	--neutral-200: #bababa;
	--neutral-300: #9c9c9c;
	--neutral-400: #808080;
	--neutral-500: #5e5e5e;
	--neutral-600: #454545;
	--neutral-700: #2f2f2f;
	--neutral-800: #1f1f1f;
	--neutral-900: #131313;
	--neutral-950: #0a0a0a;
	--neutral-1000: #000000;
}
